@charset "UTF-8";

/* reset 시작 */

* {
  color: #333;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

a:link {
  color: #666;
}

a:visited {
  color: #444;
}

a:hover {
  color: #555;
}

a:active {
  color: #666;
}

.flexContainer {
  display: flex;
}

/* IE 구버전에서 동일한 출력효과 구현 */
header,
nav,
main,
footer,
section,
article,
aside {
  display: block;
}

/* reset 끝*/
/* div#wrap */

div#wrap {
  /* border: 1px solid #000; */
  width: 1200px;
  margin: 0 auto;
}

/* div#wrap */

/* header#header */

header#header {
  height: 100px;
  /* border: 1px solid #000; */
  justify-content: space-between;
}

#header #headerlogo {
  height: 100px;
  line-height: 100px;
  /* border: 1px solid #000; */
}

/* nav#gnb */

#header #gnb {
  /* border: 1px solid #000; */
  margin-right: 20px;

  width: 620px;
}

#header #gnb ul#mainMenu {
  height: 100px;
  /* border: 1px solid #f80; */

  align-items: center;
}

#header #gnb a {
  font-size: 17px;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;

  /* border: 1px solid #aaa; */

  display: inline-block;
}

#header .mainLi:hover > a,
#header .subLi > a:hover {
  color: #fff;
  font-weight: bold;
  background-color: #c9adb1;
}

#header #gnb ul.subMenu {
  background-color: #fff;
  position: absolute;
  display: none;
  z-index: 1;
}

/* nav#gnb */

/* header#header */
/* div#slide */

div#slide {
  height: 300px;
  /* border: 1px solid #000; */
  overflow: hidden;
}

#slide a {
  width: 1200px;
  height: 300px;
  display: inline-block;

  position: relative;
}

#slide span {
  font-size: 30px;
  font-weight: bold;
  color: #b16873;
  text-align: center;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: 2px solid #ddd;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* div#slide */
/* div#contents */

div#contents {
  height: 200px;
  /* border: 1px solid #000; */
}

#contents > div {
  padding: 4px;
  margin: 4px;
  flex: 1;
  /* border: 1px solid #000; */
}

/* div#bbs 시작 */

#contents #bbs button {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 12px;
  cursor: pointer;
  border: 1px solid #aaa;

  position: relative;
  top: 2px;
}

#contents #bbs button:first-child {
  left: 7px;
}

#contents #bbs button.selected {
  background-color: #fff;
  border-bottom: #fff;
}

#contents #bbs div.tabContents {
  border: 1px solid #aaa;
}

#contents #bbs table {
  width: 100%;
  height: 148px;
  /* border: 1px solid #f80; */
}

/* #contents #bbs div#bbsNotice {
  display: none;
} */

#contents #bbs div#bbsNotice td {
  padding-left: 6px;
}

#contents #bbs div#bbsGallery {
  display: none;
  height: 148px;
  text-align: center;
}

/* div#bbs 끝*/
/* div#banner, div#shortcut 시작 */

div#banner,
div#shortcut {
  text-align: center;
}

/* div#banner, div#shortcut 끝 */

/* div#contents */
/* footer#footer */

footer#footer {
  height: 100px;
  /* border: 1px solid #000; */
}

#footer > div {
  /* border: 1px solid #000; */
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#footer div#footerLogo,
#footer div#snsArea {
  width: 200px;
}

#footer div#copyright {
  flex: 1;
  font-size: 14px;
}

/* footer#footer */

/* 레이어팝업 시작 */
tr#popupPoint {
  cursor: pointer;
}

#layerBG {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);

  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

#layerPopup {
  padding: 20px 60px;
  border: 2px solid #aaa;
  border-radius: 10px;
  background-color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#layerBG h1 {
  margin: 15px;
}

#layerBG p {
  margin-top: 15px;
  font-size: 1.2em;
  line-height: 1.8em;
}

#closeBtnArea {
  margin: 20px 20px 0;
  text-align: right;
}

#layerBG button {
  font-size: 20px;
  font-weight: bold;
  padding: 2px 20px;

  background-color: #fff;
  border: 1px solid #aaa;
  cursor: pointer;
}

/* 레이어팝업 끝 */
